In [1]:
print("hello")

hello

In [2]:
animal = ['cat','dog','hamster','llama','camel']
print (animal[1])

dog

In [51]:
cities = ['New York','Newark','Elizabeth']
print(cities[0]+ ", " + cities[-1])

New York, Elizabeth

In [19]:
# 1. Create a list of five different animals.
animals = ['dog','horse','cat','monkey','tiger']
# 2. Change the second animal to 'elephant'.
del animals[1]
animals.insert(1,'elephant')

# 3. Add a new animal to the end of the list.
animals.append('llama')

# 4. Insert a new animal at the third position.
animals.insert(2,'camel')

# 5. Remove the first animal from the list.
del animals[0]

In [25]:
# Practice Exercise
# 1. Create a list named `numbers` with the elements [10, 20, 30, 40, 50].
list = ['10','20','30','40','50']
# 2. Replace the third element in the list with the value 35.
list[2] = '35'
# 3. Print the sliced list containing the first three elements.
print(list[0:3])
# 4. Print the last element of the list using negative indexing.
print(list[-1])

['10', '20', '35']
50

In [34]:
# 1. Create a list named animals containing 'cat', 'dog', 'bird', 'fish'.
animals = ['cat', 'dog', 'bird', 'fish']
# 2. Add the string 'hamster' to the end of the list.
animals.append('hamster')
# 3. Insert the string 'rabbit' at the second position in the list.
animals[1] = 'rabbit'
# 4. Remove the string 'fish' from the list.
del animals[3]
# 5. Sort the list in alphabetical order.
animals.sort()
# 6. Loop through the list and print each animal in uppercase letters.
animals = ['cat', 'dog', 'bird', 'fish']
for animal in animals:
    print(animal.capitalize())

Cat
Dog
Bird
Fish

In [32]:
animals = ['cat', 'dog', 'bird', 'fish']
for animal in animals:
    print(animal.capitalize())

Cat
Dog
Bird
Fish

In [62]:
# 1. Create a list of numbers from 0 to 20 using range().
num = range(20)
# 2. Using a list comprehension, create a new list containing the squares of the numbers from the original list.
square = [x**2 for x in num]
print(square)
# 3. Using a list comprehension, create another new list containing only the even squares from the list created in step 2.
even_square = [x**2 for x in num if x%2 == 0]
print(even_square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

[0, 4, 16, 36, 64]

In [5]:
# Create a list named 'fruits' with the following elements: 'apple', 'banana', 'cherry'.
fruits = ['apple','banana','cherry']
# Then, perform the following operations in order:
# 1. Print the second element of the list.
print(fruits[1])
# 2. Replace the first element with 'avocado'.
fruits.insert(0,'avocado')
print(fruits)
# 3. Add 'orange' to the end of the list.
# 4. Insert 'grape' at the third position.
# 5. Remove 'banana' from the list.
# 6. Print the final list.

banana
['avocado', 'apple', 'banana', 'cherry']

In [7]:
# Given a variable `number`, use an if statement to print "Positive" if the number is greater than 0,
# "Zero" if the number is 0, and "Negative" if the number is less than 0.
number = 5

if number > number % 2 == 0:
    print("Positive")